<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.996" newVersion="6.1.0.996" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>